<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>选择城市.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D31BEF51D0FB59000E1BAB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D31BF0E1D0FB59200E1BAB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D31BF191D0FB59200E1BAB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
